# Ignore actual secrets and config files
config/secrets.env
config/config.yml

# Ignore all .env files
*.env
# Allow the one template
!config/secrets_template.env


# Python 
__pycache__/
*.pyc

# Logs
*.log

# VSCode
.vscode

# Database
*.sqlite3
*.sqlite3-journal