# Ignore actual config files
config/config.yml

# Ignore all .env files except the template secrets file
*.env
!config/secrets_template.env


# Python 
__pycache__/
*.pyc

# Logs
*.log

# VSCode
.vscode

# Database
*.sqlite3
*.sqlite3-journal